
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #dceef1;
    display: none;
    z-index: 100;
}

.sidebar.open {
    display: block;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.nav {
    padding: 63px 70px;
}

.nav a {
    display: block;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    font-weight: bold;
    color: #0059B2;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.close img {
    width: 24px;
    height: 24px;
}