.button {
    font-size: 14px;
    font-weight: 600;
    width: 132px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.disabled {
    background: #579de2;
    color: #dbdfe4;
}

.secondary {
    background: transparent;
    color: #0066cc;
    border: 1px solid #0066cc;
}

.default {
    /*font-size: 14px;*/
    /*font-weight: 600;*/
    /*width: 132px;*/
    /*height: 30px;*/
    color: #fff;

    background: #0066CC;
    border: none;
}

.red {
    /*font-size: 14px;*/
    /*font-weight: 600;*/
    /*width: 132px;*/
    /*height: 30px;*/
    /*border: none;*/
    /*border-radius: 3px;*/
    color: #fff;
    background: #CC1439;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
